

.banner {
	background-color:darkgrey;
	display:flex;
	height:300px;
	justify-content:center;
	align-text:center;
	
}
.bannerText {
	font-family:Helvetica, sans-serif;
	text-align:center;
	font-weight:bold;
	font-size:200px:
	
}